<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局映射 -->
    <settings>
        <!-- 驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
        <!--  -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.qf.pojo"/>
    </typeAliases>
    <!-- 配置数据源 -->
<!--    <environments default="mysql">-->
<!--        <environment id="mysql">-->
<!--            &lt;!&ndash; 开启事务 &ndash;&gt;-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/t1?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="123"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--        <environment id="oracle">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>-->
<!--                <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="123"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

<!--    <mappers>-->
<!--        <mapper resource="mapper/IMovieMapper.xml" />-->
<!--    </mappers>-->
</configuration>